.container {
    height: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.heading {
    font-family: 'Rubik';
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.comment_area {
    display: flex;
}

.image {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    object-fit: cover;
}

.image_replacement {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--plaster);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--coral);
}

.details {
    padding-left: 1rem;
    flex-grow: 1;
}

.confirm {
    padding-top: 2rem;
    width: 100%;
    text-align: right;
}