.order_status_container {
  padding: 1.5rem 0;
  display: flex;
  font-family: 'Rubik';
  align-items: center;
}

.order_status_details {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.order_status_details .date_time {
  font-size: 1.125rem;
  font-weight: 500;
}

.current_order_info {
  padding: 1rem 0;
  font-family: 'Rubik';
}

.pictures {
  padding: 0.5rem 1rem 0 1rem;
}

.image {
  height: 8rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.package_size {
  background-color: var(--plaster);
  color: var(--coral);
  font-family: 'Rubik';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.package_size_count {
  font-size: 2rem;
  font-weight: 500;
}

.package_size_unit {
  margin-top: -0.75rem;
  font-size: 1.25rem;
}

.package_details_wrapper {
  padding: 0.5rem 1rem 1rem 1rem;
}