.wrapper {
  border: 2px solid var(--plaster);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.button {
  flex-grow: 1;
  height: 3rem;
  background-color: var(--warm-white);
  border: none;
  color: var(--deep-blue);
  display: flex;
  align-items: center;
  font-family: Rubik;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button.selected {
  font-weight: 500;
  background-color: var(--plaster);
  margin: 0 -1px 0 -1px;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.button:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button+.button {
  border-top: 2px solid var(--plaster);
}