.wrapper {
  display: flex;
  border-radius: inherit;
  font-family: 'Rubik';
}

.image {
  border-radius: inherit;
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

.image.disapprove {
  filter: grayscale(100%);
}

.image_substitute {
  flex-shrink: 0;
  border-radius: inherit;
  width: 9rem;
  height: 9rem;
  padding: 0.75rem;
  font-weight: 500;
  overflow: hidden;
}

.image_substitute.plaster {
  background-color: var(--plaster);
  color: var(--deep-blue);
}

.image_substitute.sunburst {
  background-color: var(--sunburst-yellow);
  color: var(--deep-blue);
}

.image_substitute.deep_blue {
  background-color: var(--deep-blue);
  color: var(--warm-white);
}

.image_substitute.disapprove {
  background-color: #dddddd;
}

.details {
  flex-grow: 1;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.name {
  font-weight: 500;
}

.name.disapprove {
  text-decoration: line-through;
}

.vote_button {
  padding: 0.25rem 0.75rem;
  border: 2px solid var(--plaster);
  border-radius: 0.5rem;
  /* background-color: var(--warm-white); */
  background-color: var(--plaster);
  color: var(--deep-blue);
}

.vote_button.disapprove {
  background-color: var(--warm-white);
}