.title {
  font-family: 'Rubik';
  color: var(--grecian-blue);
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

.big_picture_wrapper {
  margin: 3rem 0 2rem 0;
  position: relative;
}

.big_picture {
  height: 16rem;
  width: 16rem;
  object-fit: cover;
  border-radius: 50%;
}

.points_reward_coin {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: var(--sunburst-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0.5rem;
  animation: floating_serenely infinite 3s ease-in-out;
}

.points_reward_text {
  margin: 0;
  color: var(--coral);
  font-size: 1rem;
  font-family: 'Rubik';
  font-weight: 500;
}

.info {
  font-weight: 400;
  color: var(--grecian-blue);
  font-size: 1rem;
  margin: 0;
  max-width: 300px;
  text-align: center;
}

.progress_dots_container {
  padding: 3.5rem 0 4rem 0;
}

@media (max-width: 360px) {
  .big_picture_wrapper {
    margin: 2rem 0 1rem 0;
  }
  .big_picture {
    height: 12rem;
    width: 12rem;
  }
  .points_reward_coin {
    height: 3rem;
    width: 3rem;
    top: 0rem;
  }
  .progress_dots_container {
    padding: 2rem 0 4rem 0;
  }
  .info {
    max-width: 240px;
  }
}

@keyframes floating_serenely {
  0% {
    transform: var(--floating-serenely-0-transform);
  }
  50% {
    transform: var(--floating-serenely-50-transform);
  }
  100% {
    transform: var(--floating-serenely-100-transform);
  }
}