.wrapper {
    display: flex;
    align-items: center;
    padding: 1.5rem 0 2rem 0;
}

.image {
    width: 3rem;
    margin-right: 1rem;
}

.text {
    font-family: Rubik;
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--deep-blue);
}