.button {
    border: none;
    width: 100%;
    height: 12rem;
    padding: 0.75rem;
    background-color: var(--warm-white);
    box-shadow: 0 3px 6px 0 var(--coral-shadow);
    border-radius: 1rem;
    text-align: left;
    position: relative;
    font-family: 'Rubik';
    color: var(--deep-blue);
}

.image {
    width: 3.5rem;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

.name {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

.content {
    position: absolute;
    bottom: 0.75rem;
    width: calc(100% - 1.5rem);
}

/* Start Stuff in modal */

.info_container {
    height: 100%;
    max-width: 360px;
    margin: 0 auto;
    color: var(--deep-blue);
}

.title {
    font-family: 'Rubik';
    font-size: 1.75rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.description {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
}